body{
    margin: 0;
    padding: 0;
    background: url(https://www.jq22.com/demo/jquerybootstrapGrzsmoban202105240059/img/hero.jpg);
    background-position: center center;
    background-attachment: fixed;
}
.box{
    width: 200px;
    margin: 0 auto;
}
